.adsTop {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;

}

.adsLeft {
    width: 300px;
    height: 90px;
}

.adsRight {
    width: 500px;
    height: 90px;
}